* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    text-align: center;
  
}

.secondDiv {
    position: relative;
    text-align: center;
    left: 300px;
}
body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vw;
    widith: 100vw;

}
