* {
    margin: 0;
    padding: 0;
    
}

.gContainer {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 30%;
}

.search, .search:active, .search:focus {
    display: flex;
    border: none;
    flex-grow: 20;
}


.gClass {
    display: flex;
    border: outset;
    border-radius: 8px;
    justify-content: row;
    padding: 7px 12px;
    
}

.search1 {
    flex-grow: 20;
}
/*
body {
    text-align: center;
    justify-content: center;
  
}
img {
    margin-top: 200px;
}
.secondDiv {
    position: relative;
    text-align: center;
    left: 300px;
}
body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vw;
    width: 100vw;

}
*/