* {
    margin: 0;
    padding: 0;
    
}

.gContainer {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 30%;
}

.search, .search:active, .search:focus {
    display: flex;
    border: none;
    flex-grow: 20;
}

.gClass {
    display: flex;
    border: darkgray;
    border-radius: 25px;
    justify-content: row;
    padding: 8px 15px;
    border-style: solid;
    border-width: 1px;
    
}

input.search:focus {
    outline: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.last_buttons {
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-size: medium;
}

.last_buttons:hover {
    box-shadow: 0 2px 2px 0 rgba(119, 1, 255, 0.24);
}

.fas fa-search {
    color: blue;
    font-size: 20px;
}